@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
:root {
    --brown:#493B36;
}
  
.left {
    background-color: #BCE1E7;
    border: 10px solid black;
    height:23rem;
}

.right {
    background-color: #BCE1E7;
    height:23rem;
    border: 10px solid black;
}

.pd {
    padding-top: 60px;
}

.pd-email{
    padding: 50px;
    font-size: 20px;
}

#updateuserinfo {
    background-color: #493B36;
    border: 5px solid black;
    color: #BCE1E7;
    padding: 10px 15px;
    font-weight: bold;
}

#updateuserinfo:hover {
    background-color: #74645f;
}